<h1>Ladders#new</h1>

<% @ladder = LadderProfile.new %>
<%= form_for @ladder do |f| %>
<div>
  <% @ladder.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</div>
  <div><%= f.label :username %><br />
  <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>
